{% extends 'wheelcms_axle/base.html' %}

{% block breadcrumb %}
<div class="row">
  <div class="span12">
    <ul class="breadcrumb">
        <li>
            <a href="/">Home</a>
        <span class="divider">/</span>
        </li>
        <li>
          {{query}}
        </li>
    </ul>
  </div>
</div>
{% endblock %}

{% block base_main %}
<div class="row">
  <div class="span12">
    <h2>Search</h2>
  </div>
</div>
<div class="row">
  <div class="span12">
    <form method="get" action=".">
        {% include "two.bootstrap/bootstrap-form.html" with fields=form.advanced_fields %}
    </form>
  </div>
</div>
{% if query %}
<div class="row">
  <div class="span12">
    <h3>Results</h3>
  </div>
</div>
{% for result in page.object_list %}
<div class="row">
  <div class="span12">
    <h4><a href="{{ result.object.node.path }}">{{ result.object.title }}</a></h4>
  </div>
</div>
<div class="row">
  <div class="span12">
    <p>{{result.object.description}}</p>
  </div>
</div>

{% empty %}
<div class="row">
  <div class="span12">
    <p>No results found.</p>
  </div>
</div>
{% endfor %}

{% if page.has_previous or page.has_next %}
    <div>
        {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
        |
        {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
    </div>
{% endif %}
{% endif %}
</div>
{% endblock %}
