git+git://github.com/iivvoo/twotest
south
django-haystack==2.1.0
django-taggit==0.11.2
django-tinymce
django-userena==1.3.0
stracks-api==0.2dev
Pillow
git+git://github.com/iivvoo/two.ol
git+git://github.com/iivvoo/two.bootstrap
git+git://github.com/iivvoo/django_granules
git+git://github.com/iivvoo/django_drole
coveralls
wrapt
git+git://github.com/iivvoo/reg
