/*
 * Browse modal customization
 */

#browseModal .modal-body {
    height: 500px;
}

#browseModal {
    width: 900px;
    margin: -250px 0 0 -450px;
}

/*#browseModal .nav-tabs {
    margin-bottom: 0px;
}*/

/* only way I know to take precedence over bootstrap styles */
#panel0, #panel1, #panel2 {
    height: 100%;
    overflow: auto;
}

#panels {
    height: 80%;
}

/*
 * Image in panel
 */
.detail-image {
    width: 200px;
}

/*
 * Content div in image detail panel
 */
.image-content {
    text-align: center;
}

/*
 * Content that cannot be selected in the browse Modal (e.g. non-images
 * when chosing an image
 */
.disabled-content {
    color: grey;
    font-style: italic;
}
