/*
 * Image sizes
 */
img.img_content_original {
}

img.img_content_thumb {
    width: 60px;
}

img.img_content_small {
    width: 120px;
}

img.img_content_medium {
    width: 250px;
}

img.img_content_large {
    width: 400px;
}

img.img_align_left {
    float: left;
    margin-right: 10px;
}

img.img_align_center {
    float: center;
    margin-right: 10px;
    margin-left: 10px;
}

img.img_align_right {
    float: right;
    margin-left: 10px;
}

img.img_align_top {
    vertical-align: text-top;
}

img.img_align_middle {
    vertical-align: middle;
}

img.img_align_top {
    vertical-align: text-bottom;
}
