/*
 * Browse modal customization
 */

#browseModal .modal-body {
    height: 500px;
}

#browseModal {
    width: 900px;
    margin: -250px 0 0 -450px;
}

/*
 * The cerulean theme specifies a top of 10% which hides the toppart of
 * the dialog. Not sure how/why, but just undo this style.
 */
.modal.fade.in {
    top: 50%;
}

/*#browseModal .nav-tabs {
    margin-bottom: 0px;
}*/

/* only way I know to take precedence over bootstrap styles */
#panel0, #panel1, #panel2 {
    height: 100%;
    overflow: auto;
}

#panels {
    height: 80%;
}

/*
 * Image in panel
 */
.detail-image {
    width: 120px;
}

/*
 * Content div in image detail panel
 */
.image-content {
    text-align: center;
}

/*
 * Content that cannot be selected in the browse Modal (e.g. non-images
 * when chosing an image
 */
.disabled-content {
    color: grey;
    font-style: italic;
}

/*
 * Browse modal image preview
 */
#external_image {
    max-width: 90%;
}

/*
 * Search result page / table styling
 */
table.result-listing tr.state-private {
    font-style: italic;
}

table.result-listing span.title {
    font-weight: bold;
    display: block;
}
table.result-listing p {
    margin: 0 0 10px;
}

table.result-listing span.byline {
    font-size: 0.8em;
    color: #666;
}

table.result-listing img.icon {
    margin-right: 5px;
}

.spoke_icon {
    margin-right: 5px;
}

form .help-block {
    font-size: 0.8em;
}

.footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(145, 145, 145);
    padding: 20px 0px 20px 0px;
    margin-top: 50px;
}

.footer h5 {
    color: rgb(230, 230, 230);
}

.footer .vcard {
    list-style: none;
    margin: 0;
    color: rgb(215, 215, 215);
}

/*
 * ul's next to a floating images (e.g. in tinymce) have the bullets
 * overlap the image. See http://stackoverflow.com/a/710205/2021414
 */
.entry-content ul {
    list-style-position: inside;
}

/*
 * Position a dropdown to the right. Required for dropdown buttons
 * on the right site of the screen and large dropdown menus that get
 * clipped
 *
 * http://forrst.com/posts/Bootstrap_right_positioned_dropdown-2KB
 */
.dropdown-menu.right {
    left:auto;
    right:0;
}
