{% extends "two.bootstrap/base.html" %}

{% block base_stylesheets %}
    <link rel="stylesheet" href="/static/css/wheel.css" media="screen, projection, print"/>
{% endblock %}

{% block topbar %}
{% block logo %}
<a class="brand" href="/">Sample</a>
{% endblock %}

<div class="nav-collapse">
  <ul class="nav">
    {% for item in toplevel %}
      <li {% if item.active %}class="active"{% endif %}>
        <a href="{{item.node.path}}">{{item.node.content.title}}</a></li>
    {% endfor %}
  </ul>
</div>
{% endblock %}

{% block base_javascript %}
    <script src="/static/js/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="/static/js/wheel.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/tiny_mce/tiny_mce.js"></script>

{% endblock %}

{% block bodytop %}
{% if user.is_authenticated %}
{% include "wheelcms_axle/toolbar.html" %}
{% endif %}
{% endblock %}
