<div class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container-fluid">
 
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
 
      <a class="brand" href="#">Wheel CMS</a>
 
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li>
            <!-- make it a button group? XXX -->
            <div class="btn-group dropup">
            <a href="#" class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
              Create
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              {% for name, info in type_registry.iteritems %}
                <li><a href="{{instance.path}}/@/create?type={{name}}">{{name}}</a></li>
              {% endfor %}
            </ul>
            </div>
          </li>
          {% if toolbar_status != "update" %}
          <li><div><a class="btn btn-mini" href="{{instance.path}}/edit"><i class="icon-edit"></i> Edit</a></div></li>
          {% endif %}
          {% if toolbar_status != "list" %}
          <li><div><a class="btn btn-mini" href="{{instance.path}}/list"><i class="icon-list"></i> Contents</a></div></li>
          {% endif %}
          <!-- make the button toggle -->
          {% if toolbar_status != "view" %}
          <li><div><a class="btn btn-mini" href="{{instance.path|default:'/'}}"><i class="icon-eye-open"></i> View</a></div></li>
          {% endif %}
        </ul>
      </div>
      {% if not spoke %}
      <div class="nav-collapse collapse">
        <ul class="nav">
        <!-- .nav, .navbar-search, .navbar-form, etc -->
          <li class="dropup">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Attach
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              {% for name, info in type_registry.iteritems %}
                <li><a href="{{instance.path}}/@/create?type={{name}}&attach=1">{{name}}</a></li>
              {% endfor %}
            </ul>
          </li>
        </ul>
      </div>
      {% endif %}
      <div class="pull-right">
        <ul class="nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              ...
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
