{% extends "wheelcms_axle/base.html" %}


{% block base_main %}
<p>
Edit Path: {{instance.path}} / {{instance.content.title}}
</p>
<form method="post" action="." class="form-horizontal"
  {% if form.is_multipart %}enctype="multipart/form-data"{%endif%}>
  {% csrf_token %}
  <input type="hidden" name="type" value="{{type}}">
  {% include "two.bootstrap/bootstrap-form.html" %}
  <div class="form-actions">
    <input class="btn primary" type="submit" value="Update">
    <a href="{{redirect_to}}" class="btn">Cancel</a>
  </div>
</form>

{% endblock %}
