.form-control .host {
    margin-top: 0px;
    margin-bottom: 0px;
}

.form-control .tags {
    border: none;
    box-shadow: none;
/* -moz-appearance / -webkit-appearance seems to add a bit of shadow,
 * but clearing it removes part of the bottom border XXX */
/*    -moz-appearance: none;
    -webkit-appearance: none; */
}

inputwrap.form-control {
    padding: 0px;
}

