{% extends "wheelcms_axle/base_admin.html" %}
{% load fragments %}
{# base template for create/edit templates #}

{% block base_main %}
{{ block.super }}

{% block form_header %}{% endblock %}

{% if tabs %}
<ul class="nav nav-tabs">
  <li><a href="#content" data-toggle="tab">Metadata</a></li>
  <li class="active"><a href="#bells" data-toggle="tab">Bells</a></li>
</ul>
{% endif %}

{% block form_form %}
<div class="tab-content">

<div id="content" class="tab-pane {% if not tabs %}active {% endif %}">
  <form role="form" method="post" action="{{form_action|default:'.'}}" class="form-horizontal checksave"
    {% if form.is_multipart %}enctype="multipart/form-data"{%endif%}>
    {% csrf_token %}
    <input type="hidden" name="type" value="{{type}}">
    {% if attach %}
    <input type="hidden" name="attach" value="1">
    {% endif %}

    <div class="panel-group" id="edit-accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle"
               data-toggle="collapse"
               data-parent="#edit-accordion"
               href="#collapsebase">
               Content Properties
            </a>
          </h4>
        </div>
        <div id="collapsebase" class="panel-collapse collapse in">
          <div class="accordion-inner">
            {% include "two.bootstrap/bootstrap-form.html" with fields=form.content_fields %}
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle"
               data-toggle="collapse"
               data-parent="#edit-accordion"
               href="#collapseadvanced">
               Advanced Properties
            </a>
          </h4>
        </div>
        <div id="collapseadvanced" class="panel-collapse collapse">
          <div class="accordion-inner">
             {% include "two.bootstrap/bootstrap-form.html" with fields=form.advanced_fields %}
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        {% block form_actions %}
        <div class="form-group">
          <div class="col-lg-12">
            <input class="btn btn-primary" type="submit" value="Add">
            <a href="{{redirect_cancel}}" class="btn btn-default">Cancel</a>
          </div>
        </div>
        {% endblock %}
      </div>
    </div>
  </form>
</div>

{% if bells %}
<div class="tab-pane {% if tabs %}active {% endif %}" id="bells">
<h1>BELLS</h1>
{{bells_template|safe}}
</div>
{% endif %}

</div>


{% fragment "javascript" %}
<script type="text/javascript" encoding="utf-8">
    $(".newbell").change(function() {
        var $this = $(this);
        var type = $this.val();

        console.log(type);
        var data = $.ajax({
            url:"bell?type=" + type,
            dataType:"json",
            async: false}).responseText
        data = $.parseJSON(data);
        var form = data.form;
        var container = $this.parent(".slot");
        var slot = container.data('slot');

        container.append("<form>"
        + "<input type='hidden' name='type' value='" + type + "'>"
        + "<input type='hidden' name='slot' value='" + slot + "'>"
        + "{% csrf_token %}"
        + form
        + "<button class='savebell'>Save</button><button class='cancelbell'>Cancel</button></form>");
    });
    $('.slot').on('click', ".savebell", function() {
        // ajax-submit form, retrieve data, replace
        var $this = $(this);
        var data = $this.parent("form").serializeArray();
        $.ajax({
            url: "bell_post",
            type: "POST",
            data: data,
            dataType:"json",
            success: function(data, status, jqXHR) {
                // if the result is not is_valid, update the form,
                // else show the view
                if(data.valid) {
                    $this.parent("form").html(data.view);
                }
                else {
                    $this.parent("form").html(data.form);
                }
            }
        });
        return false;
    });

</script>
{% endfragment %}
{% endblock %}

{% endblock %}
