{% extends "wheelcms_axle/base_admin.html" %}
{# base template for create/edit templates #}

{% block base_main %}
{{ block.super }}

{% block form_header %}{% endblock %}

{% block form_form %}
<div id="content" class="tab-pane active">
  <form role="form" method="post" action="{{form_action|default:'.'}}" class="form-horizontal checksave"
    {% if form.is_multipart %}enctype="multipart/form-data"{%endif%}>
    {% csrf_token %}
    <input type="hidden" name="type" value="{{type}}">
    {% if attach %}
    <input type="hidden" name="attach" value="1">
    {% endif %}

    <div class="panel-group" id="edit-accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle"
               data-toggle="collapse"
               data-parent="#edit-accordion"
               href="#collapsebase">
               Content Properties
            </a>
          </h4>
        </div>
        <div id="collapsebase" class="panel-collapse collapse in">
          <div class="accordion-inner">
            {% include "two.bootstrap/bootstrap-form.html" with fields=form.content_fields %}
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle"
               data-toggle="collapse"
               data-parent="#edit-accordion"
               href="#collapseadvanced">
               Advanced Properties
            </a>
          </h4>
        </div>
        <div id="collapseadvanced" class="panel-collapse collapse">
          <div class="accordion-inner">
             {% include "two.bootstrap/bootstrap-form.html" with fields=form.advanced_fields %}
          </div>
        </div>
      </div>
    </div>
    {% block form_actions %}
    <div class="form-actions">
      <input class="btn primary" type="submit" value="Add">
      <a href="{{redirect_cancel}}" class="btn">Cancel</a>
    </div>
    {% endblock %}
  </form>
</div>
{% endblock %}

{% endblock %}
