{# base template that includes editing controls #}
{% extends "wheelcms_axle/base.html" %}
{% load staticfiles %}
{% load granules %}
{% load i18n %}

{% block angular_init %}
{{block.super}}
<script type="text/javascript">
  extradeps.push("contentbrowser");
  extradeps.push("tagInputWrapper");
</script>
{% endblock %}

{% block granules %}
{{block.super}}
{% granule "base_stylesheets"  %}
<link rel="stylesheet" href="{% static "css/wheel3.css" %}" media="screen, projection, print"/>
<link rel="stylesheet" href="{% static "css/wheel_content.css" %}" media="screen, projection, print"/>
<link rel="stylesheet" href="{% static "css/upload/jquery.fileupload-ui.css" %}" media="screen, projection, print"/>
<link rel="stylesheet" href="{% static "ngtags/ng-tags-input.css" %}" media="screen, projection, print"/>
<link rel="stylesheet" href="{% static "ngtags/ng-tags-input-wheel.css" %}" media="screen, projection, print"/>

{% endgranule %}
{% granule "javascript" %}

<script src="{% static "js/upload/jquery.ui.widget.js" %}"></script>
<script src="{% static "js/upload/load-image.min.js" %}"></script>
<script src="{% static "js/upload/canvas-to-blob.min.js" %}"></script>
<script src="{% static "js/upload/jquery.iframe-transport.js" %}"></script>
<script src="{% static "js/upload/jquery.fileupload.js" %}"></script>
<script src="{% static "js/upload/jquery.fileupload-process.js" %}"></script>
<script src="{% static "js/upload/jquery.fileupload-resize.js" %}"></script>
<script src="{% static "js/upload/jquery.fileupload-validate.js" %}"></script>


<script src="{% static "js/ui-bootstrap-0.10.0.min.js" %}"></script>
<script src="{% static "js/ui-bootstrap-tpls-0.10.0.min.js" %}"></script>

<script src="{% static "ngtags/ng-tags-input.js" %}"></script>
<script src="{% static "js/tags-input-wrapper.js" %}"></script>
<script src="{% static "js/admin.js" %}"></script>
<script src="{% static "js/contentbrowser.js" %}"></script>

<script type="text/javascript" src="{% static "tiny_mce/tiny_mce.js" %}"></script>
  <script type="text/javascript">
    {# this script will have no effect after a submit where the content has not been saved, for example in case of a validation error #}
    $(document).ready(function() {
      var request_leave = false;
      $("form.checksave").on("change", function() {
            request_leave = true;
      });
      $("form.checksave").on("keydown", function() {
            request_leave = true;
      });
      $("form.checksave .canleave").click(function() {
            request_leave = false;
      });
      $(window).on('beforeunload',
          function() {
              if(request_leave) {
                return '{% trans "unsaved_changes_js_warning" %}';
              }
              for(var ed in tinyMCE.editors) {
                  if(tinyMCE.editors[ed].isDirty()) {
                    return '{% trans "unsaved_changes_js_warning" %}';
                  }
              }

          } );
    });
  </script>


{% endgranule %}
{% endblock %}
{% block base_main %}

  <div ng-controller="BrowseCtrl" id="content">
    <script type="text/ng-template" id="BrowseModal.html">
        <div class="modal-content">
          <div class="modal-body">
            <tabset>
              <tab heading="Local / Browse" active="tabs[0].active"
                select="browse_tab()"
                ng-hide="$parent.tabs[0].disabled">
                <div class="row" id="browsecrumbs">
                  <div class="col-sm-12 crumbcontainer">
                  </div>
                </div>
                <div class="row" id="panels">
                  <div class="col-sm-3 panel panel0" data-panel="0" id="panel0">
                  </div>
                  <div class="col-sm-4 panel panel1" data-panel="1" id="panel1">
                  </div>
                  <div class="col-sm-3 panel panel2" data-panel="2" id="panel2">
                  </div>
                </div>
              </tab>
              <tab heading="External Link" active="tabs[1].active"
                   select="external_url_tab()"
                   ng-hide="$parent.tabs[1].disabled">
                <div class="row">
                  <div class="col-sm-6">
                    <form>
                      <legend>External URL</legend>
                      <label class="control-label" for="external_url">URL</label>
                      <div class="input-append">
                        <input id="external_url" type="text" ng-model="selected.external_url" name="url" maxlength="256" />
                        <button id="external_url_preview" class="btn">Preview <i class="glyphicon glyphicon-chevron-right"></i></button>
                      </div>
                      <div class="help-block">
                        Not all sites (e.g. facebook) may support preview/embedding
                      </div>
                    </form>
                  </div>
                  <div class="col-sm-6">
                    <iframe width="100%" id="external_iframe" src=""></iframe>
                  </div>
                </div>
              </tab>
              <tab heading="External Image" active="tabs[2].active"
                   select="external_image_tab"
                   ng-hide="$parent.tabs[2].disabled">
                <div class="row">
                  <div class="col-sm-6">
                    <form>
                      <legend>External Image</legend>
                      <label class="control-label" for="external_image_url">URL</label>
                      <div class="input-append">
                        <input id="external_image_url" ng-model="selected.external_url" type="text" name="url" maxlength="256" />
                        <button id="external_image_url_preview" class="btn">Preview <i class="glyphicon glyphicon-chevron-right"></i></button>
                      </div>
                      <div class="help-block">
                        Not all sites (e.g. facebook) may support preview/embedding
                      </div>
                    </form>
                  </div>
                  <div class="col-sm-6">
                    <img id="external_image" width="100%" src="{% static 'img/preview.png' %}" class="img-polaroid">
                  </div>
                </div>
              </tab>
            </tabset>
          </div> <!-- modal-body -->
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">Close</button>
            <button class="btn btn-info modal_upload" ng-disabled="!upload_enabled()" ng-click="upload()">Upload</button>
            <button class="btn btn-primary modal_select" ng-disabled="!select_enabled()" ng-click="ok()">Select</button>
          </div>
       </div> <!-- modal-content -->
    </script>
    
    <script type="text/ng-template" id="UploadModal.html">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="uploadModalLabel"><[upload_title()]></h3>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-12 upload-alert">
              </div>
            </div>
            <div class="form-horizontal">
              <div class="form-group">
                <label class="control-label col-lg-2" for="select_type">Upload</label>
                <div class="col-lg-10">
                  <div class="controls upload_types">
                    <select ng-change="type_change()"
                            ng-model="state.content_type"
                            class="select_type form-control"
                            ng-options="t.title for t in upload_types">
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 uploadform">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn modal_close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">Close</button>
            <button class="btn btn-primary modal_select" ng-disabled="!canSave()" ng-click="ok()">Save</button>
          </div>
    </script>
    
    <script type="text/ng-template" id="PropsModal.html">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Selection properties</h3>
      </div>
      <div class="modal-body" id="detailsModalBody">
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">Close</button>
        <button class="btn btn-info modal_change" ng-click="change()">Change selection</button>
        <button class="btn btn-primary modal_select" ng-click="ok()">Select</button>
      </div>
    </script> <!-- detailsModal -->


  {{ block.super }}

  </div> {# #content #}
{% endblock %}
