{% extends "wheelcms_axle/base_admin.html" %}
{% load fragments %}
{# base template for create/edit templates #}

{% block base_main %}
{{ block.super }}

{% block form_header %}{% endblock %}

{% if tabs %}
<ul class="nav nav-tabs">
  <li><a href="#content" data-toggle="tab">Metadata</a></li>
  <li class="active"><a href="#bells" data-toggle="tab">Bells</a></li>
</ul>
{% endif %}

{% block form_form %}
<div class="tab-content">

<div id="content" class="tab-pane ">
  <form role="form" method="post" action="{{form_action|default:'.'}}" class="form-horizontal checksave"
    {% if form.is_multipart %}enctype="multipart/form-data"{%endif%}>
    {% csrf_token %}
    <input type="hidden" name="type" value="{{type}}">
    {% if attach %}
    <input type="hidden" name="attach" value="1">
    {% endif %}

    <div class="panel-group" id="edit-accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle"
               data-toggle="collapse"
               data-parent="#edit-accordion"
               href="#collapsebase">
               Content Properties
            </a>
          </h4>
        </div>
        <div id="collapsebase" class="panel-collapse collapse in">
          <div class="accordion-inner">
            {% include "two.bootstrap/bootstrap-form.html" with fields=form.content_fields %}
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle"
               data-toggle="collapse"
               data-parent="#edit-accordion"
               href="#collapseadvanced">
               Advanced Properties
            </a>
          </h4>
        </div>
        <div id="collapseadvanced" class="panel-collapse collapse">
          <div class="accordion-inner">
             {% include "two.bootstrap/bootstrap-form.html" with fields=form.advanced_fields %}
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        {% block form_actions %}
        <div class="form-group">
          <div class="col-lg-12">
            <input class="btn btn-primary" type="submit" value="Add">
            <a href="{{redirect_cancel}}" class="btn btn-default">Cancel</a>
          </div>
        </div>
        {% endblock %}
      </div>
    </div>
  </form>
</div>

{% if bells %}
<div class="tab-pane active" id="bells">
<h1>BELLS</h1>
{{bells_template|safe}}
</div>
{% endif %}

</div>


{% fragment "javascript" %}
<script type="text/javascript" encoding="utf-8">
    $(".newbell").change(function() {
        var $this = $(this);

        console.log($this.val());
        var data = $.ajax({
            url:"bell?type=" + $this.val(),
            dataType:"json",
            async: false}).responseText
        data = $.parseJSON(data);
        var form = data.form;
        $this.parent(".slot").append("<form>" + form + "<button class='savebell'>Save</button><button class='cancelbell'>Cancel</button></form>");
    });
    $('.slot').on('click', ".savebell", function() {
        // ajax-submit form, retrieve data, replace
        console.log("OK");
        return false;
    });

</script>
{% endfragment %}
{% endblock %}

{% endblock %}
