{% extends "wheelcms_axle/base.html" %}
{% load i18n %}

{% block htmltitle %}
<title>{% trans "site_settings" %}</title>
{% endblock %}

{% block breadcrumb %}
<div class="row">
  <div class="col-lg-12">
    <ul class="breadcrumb">
        <li>
            <a href="{{root.get_absolute_url}}">{% trans "nav_home" %}</a>
        </li>
        <li>
          {% trans "site_settings" %}
          {% for t in tabs %}
            {% if t.selected %} &rsaquo;&rsaquo; {{t.label}} {% endif %}
          {% endfor %}
        </li>
    </ul>
  </div>
</div>
{% endblock %}

{% block main %}
<h2>{% trans "site_settings" %}</h2>

<div class="tabbable tabs-left">
  <ul class="nav nav-tabs">
    {% for t in tabs %}
    <li {% if t.selected %}class="active"{% endif %}>
       <a href="?config={{t.related}}">{{t.label}}</a></li>
    {% endfor %}
  </ul>
  <div class="tab-content">
    {% for t in tabs %}
      {% if t.selected %}
        <div class="tab-pane {% if t.selected %}active{% endif %}">
          {% block config_form %}
            {% if t.form %}
            <form method="post" action="." class="form-horizontal checksave"
              {% if form.is_multipart %}enctype="multipart/form-data"{%endif%}>
              <input type="hidden" name="config" value="{{t.related}}">
              {% csrf_token %}
              {% include "two.bootstrap/bootstrap-form.html" with form=t.form %}
              <div class="form-group">
                <div class="col-lg-12">
                  <input class="btn btn-primary canleave" type="submit" value="{% trans "form_save" %}">
                </div>
              </div>
            </form>
            {% endif %}
          {% endblock %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</ul>
{% endblock %}
