{% extends "wheelcms_axle/base_admin.html" %}

{% block javascript %}

{{ block.super }}

<script type="text/javascript">
  $(document).ready(function() {
    wheel_browser("{{original|default:'/'}}", "image", {}, function(path) {alert(path)});
    $("#show_modal_link").click(function() {
        wheel_browser("{{original|default:'/'", "link", {}, function(path) {alert(path)});
    });
    $("#show_modal_image").click(function() {
        wheel_browser("{{original|default:'/'", "image", {}, function(path) {alert(path)});
    });
  });
</script>
{% endblock %}
{% block base_main %}

{{ block.super }}

<div class="row">
  <div class="span12">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas faucibus dolor at eros consectetur ut consequat enim mollis. Suspendisse ac leo neque, sed suscipit dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ultricies iaculis magna, vel interdum quam volutpat eu. Proin condimentum neque ac tellus adipiscing et tincidunt arcu euismod.
  
  Duis sit amet enim nec sapien rutrum faucibus. Sed eu ultricies justo. Curabitur orci odio, tincidunt ac adipiscing non, commodo vel urna. Phasellus massa elit, scelerisque id pharetra sagittis, facilisis a tortor. Donec sodales nibh in leo suscipit sagittis. Aliquam a leo vitae tortor ullamcorper interdum ac at mauris.
  </div>
</div>
<div class="row">
  <div class="span6">
<a href="#myModal" id="show_modal_link" role="button" class="btn" >Launch Link Browser</a>
<a href="#myModal" id="show_modal_image" role="button" class="btn" >Launch Image Browser</a>
  <p>
  Etiam scelerisque pretium tincidunt. Donec vel ipsum purus. Cras urna mi, molestie a sagittis quis, eleifend nec lorem. Curabitur nec ornare est. Nunc id nibh tortor, ut consequat sem. Morbi et lacus lorem. Cras pharetra magna quis nisi gravida tempus. Nunc metus risus, cursus ut feugiat ac, blandit vitae libero. Ut tellus diam, laoreet eget euismod ut, tincidunt sit amet purus. Quisque eget eros massa, in iaculis mi. Morbi nec nunc eu orci adipiscing lobortis. Sed non nulla urna. Nunc metus massa, luctus sed blandit eu, ultricies vitae orci.
  </p>
  </div>
  <div class="span6">
  <p>
  Etiam scelerisque pretium tincidunt. Donec vel ipsum purus. Cras urna mi, molestie a sagittis quis, eleifend nec lorem. Curabitur nec ornare est. Nunc id nibh tortor, ut consequat sem. Morbi et lacus lorem. Cras pharetra magna quis nisi gravida tempus. Nunc metus risus, cursus ut feugiat ac, blandit vitae libero. Ut tellus diam, laoreet eget euismod ut, tincidunt sit amet purus. Quisque eget eros massa, in iaculis mi. Morbi nec nunc eu orci adipiscing lobortis. Sed non nulla urna. Nunc metus massa, luctus sed blandit eu, ultricies vitae orci.
  </p>
  </div>
</div>
<div class="row">
  <div class="span12">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas faucibus dolor at eros consectetur ut consequat enim mollis. Suspendisse ac leo neque, sed suscipit dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ultricies iaculis magna, vel interdum quam volutpat eu. Proin condimentum neque ac tellus adipiscing et tincidunt arcu euismod. 
  
  Duis sit amet enim nec sapien rutrum faucibus. Sed eu ultricies justo. Curabitur orci odio, tincidunt ac adipiscing non, commodo vel urna. Phasellus massa elit, scelerisque id pharetra sagittis, facilisis a tortor. Donec sodales nibh in leo suscipit sagittis. Aliquam a leo vitae tortor ullamcorper interdum ac at mauris.
  </div>
</div>
{% endblock %}
