{% block title %}
<div class="row-fluid">
  <div class="span12">
    <h4>{{instance.meta_type}} {{instance.title}}</h4>
  </div>
</div>
{% endblock %}
{% block details %}
<div class="row-fluid">
  <div class="span12">
    <b>{{instance.path}}</b>
    <a href="#" class="node_upload" data-url="{{instance.path}}" title="Upload content in this node"><i class="icon-upload pull-right node-upload"></i></a>
  </div>
</div>
{% endblock %}
{% block content %}
  {% if selectable %}
  <div class="row-fluid">
    <div class="span12">
      <label class="control-label" for="local_image_title">Title</label>
      <input id="local_image_title" type="text" name="local_title" value="{{instance.content.title}}"
           maxlength="256">
      <label class="control-label" for="local_image_title">Target</label>
      <input id="local_image_target" type="text" name="local_title" value="" maxlength="256">
    </div>
  </div>
  {% endif %}
{% endblock %}
