{% block title %}

<table class="table table-condensed table-hover wheel-contentlist">
  <thead>
    <tr><th>Shortcuts</th></tr>
  </thead>
  <tbody class="sortable">
    {% for bookmark in bookmarks %}
      <tr class="entry {% if bookmark.selected %}info{%endif%}"
          ng-click="openURL('{{bookmark.path}}', {{bookmark.selectable|yesno:"true,false"}})">
        <td><img src="{{bookmark.icon}}"> {{bookmark.title}}
            {% if bookmark.selected %}
              <i class="pull-right glyphicon glyphicon-chevron-right"></i>
            {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
